<header>
<div class="container">
    <div id="branding">
      <h1><span class="highlight">Brisker's</span> Spot</h1>
    </div>
      <nav>
      <ul>
        <li class="current"><a href="/">home</a></li>
        <li class="current"><a href="/health">health</a></li>
        <li class="current"><a href="/services">services</a></li>
        <li class="current"><a href="/community">community</a></li>
        <li class="current"><a href="/about-us">about</a></li>
      </ul>
    </nav>
   
  </div>
  </header>
