<html lang="en"></html>
<%- include("./partials/head") %>
  <body>
    <%- include("./partials/nav") %>
    <section id="main">
        <div class="container">
          <article id="main-col">
            <h1 class="page-title"><u>Covid 19</u></h1>
            <p>
              <strong>Common symptoms:</strong> <br>
              fever,
              dry cough,
              tiredness<br>
              <strong>Less common symptoms:</strong><br>
              aches and pains, 
              sore throat, 
              diarrhoea, 
              conjunctivitis, 
              headache, 
              loss of taste or smell, 
              a rash on skin, or discolouration of fingers or toes<br>
              <strong>Serious symptoms:</strong><br>
              difficulty breathing or shortness of breath, 
              chest pain or pressure, 
              loss of speech or movement
            </p>
            <p class="dark">
              <strong>Medical treatments:</strong><br>
              Scientists around the world are working to find and develop treatments for COVID-19.
              Optimal supportive care includes oxygen for severely ill patients and those who are at risk for severe disease and more advanced respiratory support such as ventilation for patients who are critically ill.
              Dexamethasone is a corticosteroid that can help reduce the length of time on a ventilator and save lives of patients with severe and critical illness.
              WHO does not recommend self-medication with any medicines, including antibiotics, as a prevention or cure for COVID-19.
            </p>
          </article>
  
          <aside id="sidebar">
            <div class="dark">
              <h3>What To Do</h3>
              <p>1. Clean your hands often.<br>2. Use soap and water, or an alcohol-based hand rub.<br>
                3. Maintain a safe distance from anyone who is coughing or sneezing.<br>
                4. Wear a mask when physical distancing is not possible.<br>
                5. Don’t touch your eyes, nose or mouth..<br>
                6. Stay home if you feel unwell.<br>
                7. If you have a fever, cough and difficulty breathing, seek medical attention.</p>
            </div>
          </aside>
        </div>
      </section>
  
  
  
  
      <nav id="main1">
          <div class="container1">
            <iframe src="https://www.covid19india.org/" width="600px", height="500px"></iframe>
            <iframe src="https://www.worldometers.info/coronavirus/" width="600px", height="500px"></iframe>
          </div>
      </nav>

      <footer>
        <p>Brisker's Spot, Copyright &copy; 2021</p>
      </footer>
    </body>
</html>