<html lang="en"></html>
<%- include("./partials/head") %>
  <body background="https://i.imgur.com/xG5UsFF.png">
    <%- include("./partials/nav") %>
    
      <section id="showcase">
        <div class="container">
          <h1>We are in this together, we will get through this together.....</h1>
        </div>
      </section>
  
  
  
      <section id="boxes">
        <div class="container">
          <div class="box">
           <img src="https://i.imgur.com/Jk2c11t.png" width="200", height="auto">
          </div>
          <div>
            <h1 align="center">Wear a mask.Save lives.</h1>
            <h2 align="center">Wear a face cover...<br>Wash your hands...<br>Keep a safe distance...</h2>
          </div>
        </div>
      </section>
  
      <section id="boxes">
        <div class="container">
         <h2>We provides you the information regarding covid 19: symptoms, prevention and covid related updates. We also provide you various other facilities. In our community, you can see various other posts provided by other people, give your own suggestion, post your own topic. You can check cricketscores, view news and lots more.</h2>
        </div>
      </section>
  
  
  
      <section id="boxes">
        <div class="container">
          <div class="box">
           <img src="https://i.imgur.com/gZGJUA5.jpg" width="200", height="auto">
           <p>"Be fast, have no regrets... If you need to be right before you move, you will never win”<br> -Mike Ryan, epidemiologist at WHO</p>
          </div>
          <div class="box">
            <img src="https://i.imgur.com/e8t6451.jpg" width="200", height="auto">
            <p>"Together, let us make India COVID-19 free!"<br> -PM Modi on Indian vaccine</p>
           </div>
           <div class="box">
            <img src="https://i.imgur.com/wQ3DILs.jpg" width="200", height="auto">
            <p>"We, the poor, are immune to the coronavirus”<br> -Miguel Ángel Barbosa, governor of Puebla, Mexico</p>
           </div>
        </div>
      </section>


      <footer>
        <p>Brisker's Spot, Copyright &copy; 2021</p>
      </footer>
    </body>
</html>